body{
    margin: 0;
    min-height: 100vh;
    background-color: #CAE7DF;
    color: #2A3166;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 800px;
    width: 600px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: auto 0s;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #5EBEC4;
    box-shadow: 3px 8px #42989f;
}
button{
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color:#F4ABAA;
    border: none;
}
button:hover{
    background-color: #e79897;
    box-shadow: 1px 1px #2A3166;
}
button:active{
    background-color: #e57775;
    box-shadow: 1px 1px #2A3166;
}
.advice-box{ 
    padding: 15px;
    margin: auto, 0;
    font-size: 20px;
    border-radius: 10px;
}
